<h1>Widget Information</h1>
<%# START:edit:3 %>
<h2 data-testid="widget-name"><%= @widget.name %></h2>
<%# END:edit:3 %>
<h2>ID #<%= styled_widget_id(@widget) %></h2>
<% if flash[:notice].present? %>
  <aside>
    <%= flash[:notice] %>
  </aside>
<% end %>

<%= render(WidgetRatingComponent.new(widget: @widget,
                                     show_cta: false)) %>
