/* START:edit:3 */
$font-size-headline: 4.8rem;
$font-size-subheadline: 3.7rem;
$font-size-1: 2.8rem;
$font-size-2: 2.2rem;
$font-size-3: 1.7rem;
$font-size-4: 1.3rem;
/* font-size-5 should always be 1rem
 * as Tachyons expects this to be the
 * body font. */
$font-size-5: 1rem;
$font-size-6: 0.8rem;
$font-size-7: 0.8rem;

/* END:edit:3 */
@import "tachyons";
